body {
    font-family:'Times New Roman', Times, Serif;
    display:flex;
    background-color: rgb(151, 255, 255);
    margin:0px;
    flex-flow: row wrap;
}
#footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 1500px;
    height: 69px;
    min-height: 69px;
    min-width: 250px;
    background-color:rgb(27, 27, 27);
}


div#details {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 250px;
}
div#nGSubmitDiv {
    background-color: cyan;
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 1px;
}
.nGSubmit {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


div#first {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 235px;
}
div#qOneDiv {
    background-color: rgb(0, 235, 235);
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 1px;
}
.qOne {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


div#second {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 235px;
}
div#qTwoDiv {
    background-color: rgb(0, 235, 235);
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 1px;
}
.qTwo {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


div#third {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 235px;
}
div#qThreeDiv {
    background-color: rgb(0, 235, 235);
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 1px;
}
.qThree {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


div#fourth {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 235px;
}
div#qFourDiv {
    background-color: rgb(0, 235, 235);
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 1px;
}
.qFour {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


div#fifth {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 235px;
}
div#qFiveDiv {
    background-color: rgb(0, 235, 235);
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    margin: 1px;
}
.qFive {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


div#score {
    display:flex;
    align-items: flex-start;
    justify-content: center;
    width: 1500px;
    height: 650px;
    min-width: 235px;
}
div#scoreDiv {
    background-color: rgb(0, 235, 235);
    align-items: center;
    width: 1500px;
    height: 200px;
    min-width: 200px;
}
.score {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5px 1px 1px 5px;
}


