body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    min-height: 75px;
    background-color: black;
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    min-height: 75px;
    background-color: black;
}


/* 
div#details {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 250px;
    padding: 5px;
}
div#nGSubmitDiv {
    align-items: center;
    padding-inline: auto;
}
.nGSubmit {
    display:flex;
    justify-content: center;
    align-items: center;
    
    padding: 5px 1px 1px 5px;
}


div#first {
    display:flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 235px;
}
div#qOneDiv {
    align-items: center;

    min-width: 200px;

    padding: 1px;
}
.qOne {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1px 1px 5px;
}


div#second {
    display:flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 235px;
}
div#qTwoDiv {
    align-items: center;

    min-width: 200px;

    padding: 1px;
}
.qTwo {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1px 1px 5px;
}


div#third {
    display:flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 235px;
}
div#qThreeDiv {
    align-items: center;

    min-width: 200px;

    padding: 1px;
}
.qThree {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1px 1px 5px;
}


div#fourth {
    display:flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 235px;
}
div#qFourDiv {
    align-items: center;

    min-width: 200px;

    padding: 1px;
}
.qFour {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1px 1px 5px;
}


div#fifth {
    display:flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 235px;
}
div#qFiveDiv {
    align-items: center;

    min-width: 200px;

    padding: 1px;
}
.qFive {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1px 1px 5px;
}


div#score {
    display:flex;
    align-items: flex-start;
    justify-content: center;

    min-width: 235px;
}
div#scoreDiv {
    align-items: center;

    min-width: 200px;
}
.score {
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5px 1px 1px 5px;
} */



/* utility classes */

.hidden {
    display: none !important;
}





/*  */

.details-wrapper,
.first-wrapper,
.second-wrapper,
.third-wrapper,
.fourth-wrapper,
.fifth-wrapper,
.score-wrapper {
    display: flex;
    flex-direction: column;

    padding: 10px;
    background-color: cyan;
}

.details-wrapper > * {
    align-self: center;
}

.first-wrapper > *,
.second-wrapper > *,
.third-wrapper > *,
.fourth-wrapper > *,
.fifth-wrapper > *,
.score-wrapper > * {
    align-self: center;

    margin-block: 5px;
}